@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2"),
       url("fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Bold.woff2") format("woff2"),
       url("fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, 
p {
  margin: 0;
}

a {
  text-decoration: none;
 }

 ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
 }

body {
  margin: 0;
  padding: 0;
  font: 400 15px "OpenSans", sans-serif;
}

/* ======================= */

.container {
  width: 100%;
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

 /*    ==== Header ====    */

.header {
  width: 100%;
  max-width: 1660px;

  background-image: url("images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #000;
  padding-top: 28px;

  position: relative;
  z-index: 0;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

.header__inner {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
}

.menu {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.menu-link {
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 35px;

}
.menu-link:hover {
  text-decoration: underline;
}

.intro-title {
  font: 700 45px/1.66 "OpenSans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 105px 208px 105px 230px;
}

/*   ==== main ====   */

.main {
  display: flex;
  justify-content: space-between;
}

.article {
  display: flex;
  margin-bottom: 57px;
}

.article-image {
  width: 381px;
  background-color: #bcb3a1; 
}

.article-inner {
  width: 367px;
  margin-left: 30px;
}

.tag {
  display: inline-block;

  font: 700 14px "OpenSans", sans-serif;
  color: #b59f5b;
  text-transform: uppercase;

  margin-right: 14px;
  margin-bottom: 6px;
}


.tag:hover {
  text-decoration: underline;
}

.tag-list__item {
  display: inline-block;
}

.article-title {
  display: inline-block;
  font: 700 20px/1.2 "OpenSans", sans-serif;
  color: #0f0d0e;
  text-transform: uppercase;
}

.article-title:hover {
  color: #b59f5b;
}

.article-time {
  font-size: 13px;
  color: #888;
  margin-right: 10px;
}

.article-author {
  font: 700 13px "OpenSans", sans-serif;
  color: #000;
}

.inner-wrap {
  margin-top: 26px;
  margin-bottom: 36px; 
}

.article-text {
  display: inline-block;
  font-size: 400 15px/1.46 "OpenSans", sans-serif;
  color: #0f0d0e;
  letter-spacing: 0.3px;
}

.article-text:nth-child(n+2) {
  margin-top: 10px;
}

/*   ==== aside ====   */

.post-box {
  margin-top: 25px;
}

.sidebar {
  width: 272px;
}

.subtitle {
  font: 700 13px "OpenSans", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/* линия */

.subtitle::after {
  content: "";
  display: block;
  width: 66px;
  margin: 13px auto 0 auto;
  border-bottom: 3px solid #e1d9bd;
}

.post-wrapper {
  display: flex;
}

.post-image {
  width: 70px;
  height: 70px;

  background-color: #b59f5b;
  margin-right: 18px;
  margin-bottom: 18px;
}

.post-time {
  display: block;
  margin-top: -1px;
}

.post-title {
  font: 700 14px/1.2 "OpenSans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: #000;

  display: inline-block;
  margin-top: 5px ;
}

.post-title:hover {
  color: #b59f5b;
}

 /*   === search ===   */
 
.search-wrap {
  margin-top: 41px;
  margin-bottom: 55px;
}

.search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.search-text {
  width: 223px;
  height: 49px;
  font: 14px "OpenSans", sans-serif;
  padding-left: 20px;
  background-color: #f4f7f6;
  
  border: 1px solid #f4f7f6; /* или transparent */
  outline: none;
}

/* убирает крестик */
.search-text::-webkit-search-decoration,
.search-text::-webkit-search-cancel-button,
.search-text::-webkit-search-results-button,
.search-text::-webkit-search-results-decoration { 
  display: none; 
}

.search-text:focus {
  border-top: 1px solid #b59f5b;
  border-bottom: 1px solid #b59f5b;
  border-left: 1px solid #b59f5b;
 }

 .search-btn {
  width: 49px;
  height: 49px;

  background-image: url("svg/search.svg");
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b59f5b;

  border: none;
  cursor: pointer;
 }

 .search-btn:hover {
  background-color: #323232; 
 }

/*    === newsletter ===   */

.newsletter-wrap {
  margin: 23px auto 59px auto;
}

.newsletter {
  display: block;
}

.newsletter-email {
  width: 100%;
  height: 49px;
  font: 13px "OpenSans", sans-serif;
  background-color: #f4f7f6;
  border: 1px solid #f4f7f6;
  outline: none;

  padding-left: 20px;
  margin-bottom: 15px;
}

.newsletter-email:focus {
  border: 1px solid #b59f5b;
}

.newsletter-btn {
  width: 100%;
  height: 49px;
  font: 700 14px "OpenSans", sans-serif;
  text-transform: uppercase;
  background-color: #b59f5b;
  color: #fff;
  border: none;
  cursor: pointer;
}

.newsletter-btn:hover {
  background-color: #323232; 
}

/*    === tags ===    */

.tags-box {
  margin-top: 20px;
  margin-bottom: 50px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tag-list-item {
  display: inline-block;
  border: 3px solid #f4f7f6;
  padding: 6px 13px;
}

.tag-list-item:hover {
  border-color: #b59f5b;
}

.tag-list-item:nth-child(n) {
  margin-right: 6px;
  margin-bottom: 5px;
}

.tags {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
}

/*    === theme ===    */

.theme-box {
  margin-top: 25px;
}

.theme-group{
  position: relative;
}

.theme {
  display: inline-block;
  font: 700 15px "OpenSans", sans-serif;
  color: #000;
  margin-right: 4px;
}

.theme:hover {
  color: #b59f5b;
}

.theme-group::after {
  content: "";
  display: block;
  width: 100%;
  margin: 13px auto 0 auto;
  border-bottom: 1px solid #eee;

  margin-top: 12px;
  margin-bottom: 16px;
}

.quantity {
  display: inline-block;
  font: 700 12px "OpenSans", sans-serif;
  color: #b59f5b;

  position: absolute;
  top: -2px;
}

/*    === footer ===    */

.footer-inner {
  width: 1170px;
  background-color: #f4f7f6;
  text-align: center;

  padding: 15px;
  margin-top: 8px;
}

.socials {
  display: flex;
  justify-content: center;
}

.social-icon {
  display: inline-block;
  width: 20px;
  height: 20px;

  margin-right: 30px;
}

.social-icon__dribbble {
  background-image: url("svg/001-dribbble.svg");
}

.social-icon__pinterest {
  background-image: url("svg/002-pinterest.svg");
}

.social-icon__tumblr {
  background-image: url("svg/003-tumblr.svg");
}

/*    === copyright ===    */

.copyright {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.copyright__text {
  font: 700 12px "OpenSans", sans-serif;
  color: #999;
}
